html

body {
    background-color: black;
}

.header-menu {
    background-color: black;
    text-align: left;
    margin-top: 20px;
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.header-menu a:link {
    color: whitesmoke;
    text-decoration: none;
}

.header-menu a:hover, a:active {
    color: white;
    text-decoration: underline;
}

.header-menu a:visited {
    color: grey;
    text-decoration: none;
}

.menu-item {
    color: whitesmoke;
    margin: 10px;
    padding: 8px;
    font-family: "Arial";
    display: inline-block;
}

.main-container {
    margin: auto;
    max-width: 700px;
}

.main-container img {
    width:100%;
}

.nameplate {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Garamond";
    letter-spacing: 0.2em;
    padding: 20px;
    font-size: 48px;
    color: white;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    z-index: 10;
}

#nameplate-role {
    font-size: 16px;
}

.content-box {
    font-size: 18px;
    color: whitesmoke;
    text-align: left;
    font-family: "Helvetica-light", sans-serif; 
}

.about-box {
    background-color: #dadada;
    color: black;
    padding: 40px;
    font-size: 18px;
    text-align: left;
    font-family: "Helvetica-light", sans-serif; 
}

#headshot img {
    float: right;
    width:155px;
}

.resume-box {
    padding: 10px 50px;
}

.content-title{
    color: whitesmoke;
    font-size: 44px;
    text-align: left;
    font-family: "Helvetica-light", sans-serif; 
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.content-description{
    font-size: 16px;        
    font-family: "Helvetica-light", sans-serif;
    text-align: right;
}

footer {
    margin-top: 20px;
    text-align: center;
    background-color: black;
    color: #dbdbdb;
    font-family: "Helvetica";
    letter-spacing: 0.2em;
}

#footer-index {
    position: fixed;
    bottom: 0;
}

footer p {
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #191919;
    margin: 0 auto;
    padding: 0;
    width: 95%;
    margin-bottom: 30px;
}


@media screen and (max-width: 680px) {

.header-menu {
    margin-top: 10px;
    }
    
.nameplate {
    font-size: 38px;
    }
    
.content-title{
    font-size: 32px;
    }
    
.about-box {
    padding: 20px;
    font-size: 16px;
    }
}
