html

body {
    background-color: black;
}

.header-menu {
    background-color: black;
    text-align: left;
    margin-top: 20px;
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.header-menu a:link {
    color: whitesmoke;
    text-decoration: none;
}

.header-menu a:hover, a:active {
    color: white;
    text-decoration: underline;
}

.header-menu a:visited {
    color: grey;
    text-decoration: none;
}

.menu-item {
    color: whitesmoke;
    margin: 10px;
    padding: 8px;
    font-family: "Arial";
    display: inline-block;
}

.main-container {
    margin: auto;
    max-width: 700px;
}

#headshot {
    float: right;
}

.imageHorizontal {
    
}

.imageVertical {
    display: none;
}

.nameplate {
    position: absolute;
    width: 360px;
    margin: 0px 0 0 -180px;
    left: 50%;
    top: 15%;
    text-align: center;
    font-family: "Garamond";
    letter-spacing: 0.2em;
    padding: 20px;
    font-size: 48px;
    color: white;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    z-index: 10;
}

#nameplate-role {
    font-size: 16px;
}

.frontpage {
    position: relative;
}


.content-box {
    font-size: 18px;
    color: whitesmoke;
    text-align: left;
    font-family: "Helvetica-light", sans-serif; 
}

.about-box {
    background-color: #dadada;
    color: black;
    padding: 20px;
    font-size: 18px;
    text-align: left;
    font-family: "Helvetica-light", sans-serif; 
    border-radius: 20px;
    margin: 18px 10px;
    overflow: hidden;
}

.CV-subsection {
    
    overflow: auto;
    margin-bottom: 5px;
    height: 250px;
    
    }

.CV-subsection img{
    float: right;
    max-height:100%;
    padding-left: 5px;
    }

.credentials {
    padding-left: 30px;
}

.credentials a:link, a:visited {
    text-decoration: none;
    color: black;
}

.credentials a:hover, a:active {
    text-decoration: underline;
}

.content-title{
    color: whitesmoke;
    font-size: 44px;
    margin: 22px 2px;
    text-align: left;
    font-family: "Helvetica-light", sans-serif; 
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.content-description{
    font-size: 16px;        
    font-family: "Helvetica-light", sans-serif;
    text-align: right;
}

footer {
    margin-top: 20px;
    text-align: center;
    background-color: black;
    color: #dbdbdb;
    font-family: "Helvetica";
    letter-spacing: 0.2em;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #191919;
    margin: 0 auto;
    padding: 0;
    width: 95%;
    margin-bottom: 30px;
}

.inf {
    width: 33%;
    height: 900px;
    min-height: 200px;
    position: relative;
    float: right;
    
}

.inf-image {
    height: 100%;
    position:relative;
    background:   url("http://www.lizaherbert.com/img/liza-herbert-2015-hong-kong.jpg")no-repeat;
    background-size: cover;
    background-position: center;
     border-radius: 20px;
}


@media screen and (max-width: 667px) {

.header-menu {
    margin-top: 10px;
    }

.imageHorizontal {
    display: none;
}

.imageVertical {
    display: block;
}

.nameplate {
    font-size: 36px;
    width: 320;
    top: 25%;
    }
    
.content-title{
    font-size: 32px;
    }
    
.about-box {
    padding: 10px;
    font-size: 16px;
    }
    
.credentials {
    padding-left: 20px;
}

}

